@import url('https://fonts.googleapis.com/css2?family=Miss+Fajardose&family=Sarina&family=Satisfy&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    -fx-font-family: 'Varela Round', sans-serif;
    
}
#app-name{
    -fx-font-family: 'Satisfy', cursive;
    -fx-text-fill:#F2F2F2; 
    -fx-fill:#F2F2F2; 

}
.label {
    
    -fx-text-fill:#585E5D; 
    -fx-fill:#585E5D; 
}
.scroll-pane .viewport {
    -fx-background-color: transparent; /*or whatever you want*/
    -fx-background-radius:100px;
}

.scroll-pane, #deals {
    -fx-background-color:transparent;
}

#navbar{
    -fx-background-color:#E1E7E2;
}
.button{
    -fx-background-color:#BE8779;
    -fx-text-fill:white; 
    -fx-font-size:2em; 
    -fx-background-radius:5em;
    -fx-font-family: 'Varela Round', sans-serif;
}
.button:hover{
    -fx-background-color:#D5B5A6;
    -fx-font-family: 'Varela Round', sans-serif;
}
.back-button{
    -fx-background-radius: 5em;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
    -fx-max-width: 30px;
    -fx-max-height: 30px;
}

.navbar-icon{
    -fx-background-color:transparent;
    -fx-background-radius: 3em;
    -fx-min-width: 50px;
    -fx-min-height: 50px;
    -fx-max-width: 50px;
    -fx-max-height: 50px;
}
.navbar-icon:hover{
    -fx-background-color:#CDD3CE;
}

#edit-btn{
    -fx-background-color:#CDD8DA;
    -fx-background-radius: 3em;
    -fx-min-width: 100px;
    -fx-min-height: 30px;
    -fx-max-width: 100px;
    -fx-max-height: 30px;
    -fx-font-size:1em; 
    -fx-text-fill:white; 

}
#edit-btn:hover{
    -fx-background-color:#CDD3CE;

}
.header{
    -fx-text-fill:#F2F2F2; 
    -fx-fill:#F2F2F2; 
}

.page{
    -fx-background-image: url('../back.png');
    -fx-background-size: 100% 100%;
}

#my-property{
    -fx-background-color:#DFE4E5;
    -fx-background-radius: 3em;
}

.text-field{
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-pref-width: 180px;
    -fx-pref-height: 30px;
    -fx-font-size:1.2em; 
}

#uploadButton{
    -fx-background-radius: 5em;
    -fx-pref-width: 180px;
    -fx-pref-height: 30px;
    -fx-background-color:#BE8779;
    -fx-text-fill:white; 
    -fx-font-size:1.2em; 
    -fx-font-family: 'Varela Round', sans-serif;
}
.combo-box{
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-pref-width: 180px;
    -fx-pref-height: 30px;
    -fx-font-size:1.2em; 
    -fx-background-color: white;
    -fx-text-align:center;
}
.combo-box:hover{
    -fx-background-color:#CDD3CE;
}

#exit{
    -fx-background-color:transparent;
}
#exit:hover{
    -fx-background-color:transparent;
}